.idea
.vscode
.env
.env.testing
.scannerwork
.php_cs.cache
.rnd
.phpunit.result.cache
database/.idea
node_modules
vendor
public
sonar-project.properties
webpack.mix.js
nbproject
common_files
var/logs/*
var/app/writer.json
storage/*.key
storage/monitor
storage/geo
storage/logs
common
yarn-error.log
var/writer.json
.php-cs-fixer.cache
composer.lock
package.json
yarn.lock
etc/vagrant
